/* hero section start */
#hero{
    position: relative;
    z-index: -1;
}
#hero .heroText{
    position: absolute;
    top: 70px;
    width: 100%;
    text-align: center;
    color: #daf5d2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
#hero .heroText h1{
    font-weight: 900;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
#hero img{
    width: 100%;
    height: 200px;
    opacity: 0.9;
    position: relative;
}
/* hero section end */

/* about section start  */
#about{
    padding: 10px 100px;
}
#about .aboutFirstSection, .aboutSecondSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 70px;
}
.aboutDetails p{
    font-size: 14px;
}
#about .aboutDetails, .aboutImg{
    padding: 0 30px;
}
#about .aboutImg img{
    width: 450px;
}
/* about section end  */

@media screen and (max-width: 768px) {
    #about{
        padding: 0;
    }
    #about .aboutFirstSection, #about .aboutSecondSection{
        display: flex;
        flex-direction: column;
    }
    #about .aboutFirstSection{
        flex-direction: column-reverse;
    }
    #about .aboutDetails, .aboutImg{
        padding: 0 30px;
    }
    #about .aboutImg img{
        width: 100%;
    }
}
