*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* cart section start from here  */
#cart{
    padding: 10px 30px;
    
}
#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
    
}
#cart table td:nth-child(1){
    text-align: center;
    width: 100px;
}
#cart table td:nth-child(2){
    text-align: center;
    width: 150px;
}
#cart table td:nth-child(3){
    text-align: center;
    width: 250px;
}
#cart table td:nth-child(4){
    text-align: center;
    width: 200px;
}
#cart table td:nth-child(5){
    text-align: center;
    width: 200px;
}
#cart table tbody td:nth-child(5) input{
    width: 70px;
    padding: 5px 15px 5px 10px;
}
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}
#cart table thead{
    border: 1px solid black;
    border-left: none;
    border-right: none;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    padding: 15px 0;
}
#cart table thead td{
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    padding: 12px 0;
}
#cart table tbody td{
    padding-top: 1dvi;
}
.cartFoodImg{
    height: 70px;
    width: 65px;
}

/* news letter start  */
#newsLetter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
    margin-top: 80px;
    background-color: rgb(17, 17, 62);
    color: white;
}
.rightInput{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightInput input{
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: none;
    width: 80%;
    padding: 10px;
}
.rightInput button{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border: none;
    background-color: #daf5d2;
    width: 120px;
    padding: 10px;
}
/* news letter end */