/* hero section start */
#hero{
    position: relative;
    z-index: -1;
}
#hero .heroText{
    position: absolute;
    top: 70px;
    width: 100%;
    text-align: center;
    color: #daf5d2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
#hero .heroText h1{
    font-weight: 900;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
#hero img{
    width: 100%;
    height: 200px;
    opacity: 0.9;
    position: relative;
}
/* hero section end */

/* contct section start  */
.infoAndMap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
    line-height: 4px;
}
.map iframe{
    border: none;
}
.leaveMsg{
    width: 50%;
    padding: 10px 100px;
}
.leaveMsg form{
    padding-top: 30px;
}
/* contact section end  */

@media screen and (max-width: 768px) {
    .infoAndMap{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
        line-height: 4px;
    }
    .infoAndMap .info h3{
        font-size: 20px;
        padding-bottom: 10px;
    }
    .infoAndMap .map{
        width: 100%;
        height: 200px;
    }
    .map iframe{
        width: 100%;
        height: 100%;
    }
    .leaveMsg{
        width: 100%;
        padding: 10px 7%;
    }
    .leaveMsg form{
        padding-top: 30px;
    }
}