/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
#header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
.logo {
    font-size: 28px;
    font-weight: bold;
}
.logo a {
    text-decoration: none;
    color: black;
}
#navBar .ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
#navBar .ul .li {
    list-style: none;
    margin-top: 20px;
    padding: 10px 20px;
    position: relative; /* Make sure this is set to position relative */
}
#navBar .ul .li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    transition: 0.3s ease;
}
#navBar .li a:hover {
    color: green;
}
#navBar .rotate:hover .dropdownImg{
    transform: rotate(180deg);
    transition:  0.3s ease;
}
/* Dropdown menu styling */
.dropdownShopName {
    display: none;
    position: absolute;
    top: 100%;
    left: 10px;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 125px;
    text-align: center;
    /* min-width: 120px; */
    z-index: 1;
    background: #E3E6F3;
    border-radius: 5px;
}
.dropdownShopName li a {
    color: #333;
    padding: 10px 0px;
    display: block;
    text-decoration: none;
}
.dropdownShopName li a:hover {
    background-color: #f1f1f1;
    color: #007bff;
}
/* Show dropdown on hover */
.li:hover .dropdownShopName {
    display: block;
}
/* header section end  */

/* hero section start */
#hero{
    position: relative;
    z-index: -1;
}
#hero .heroText{
    position: absolute;
    top: 70px;
    width: 100%;
    text-align: center;
    color: #daf5d2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
#hero .heroText h1{
    font-weight: 900;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
#hero img{
    width: 100%;
    height: 200px;
    opacity: 0.8;
    position: relative;
}
/* hero section end */
/* food item section start  */
#foodItems{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 80px;
}
.item{
    width: 15%;
    height: 200px;
    padding-top: 10px;
    cursor: pointer;
    background-color: #eef0f9;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06); */
    border-radius: 10px;
    transition: 0.3s ease;
}
.item:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
.item h3{
    color: green;
    font-size: 18px;
    margin-top: 20px;
    background-color: #f5b5b5;
    width: 80%;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 7px ;

}
#foodItems .item:nth-child(2) h3{
    background-color: rgb(193, 224, 230);
}
#foodItems .item:nth-child(3) h3{
    background-color: rgb(206, 255, 255);
    margin-top: 10px;
}
#foodItems .item:nth-child(3) h3{
    background-color: rgb(203, 252, 200);
}
#foodItems .item:nth-child(4) h3{
    background-color: rgb(228, 245, 165);
}
#foodItems .item:nth-child(5) h3{
    background-color: rgb(196, 193, 230);
}
/* food item section end  */
/* food product section start */
.headingFoods{
    text-align: center;
    margin-top: 100px;
    padding: 0 20px;
}
.foods{
    width: 100%;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #e4e7f5;
    cursor: pointer;
    padding: 7px;
}
.foods .foodItemImg{
    width: 100%;
    border-radius: 10px;
}
.foodsContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0 80px;
}
.buyFood{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.buyFood p{
    margin-top: 15px;
}
.buyFood img:hover{
    transition: all 0.5s ease;
    transform: scale(1.09);
}
/* food product section end */
/* fotter section start */
footer{
    width: 100%;
    background: #E3E6F3;
}
.footerLinks{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px 0px 100px;
}
.footerFirstColumn{
    font-size: 14px;
    
}
.footerFirstText{
    line-height: 5px;
    padding: 10px 0;
}
.footerSecondColumn a, .footerThirdColumn a{
    display: block;
    justify-content: center;
    text-decoration: none;
    color: rgb(79, 77, 77);
}
.footerSecondColumn a:hover , .footerThirdColumn a:hover{
    text-decoration: underline;
    color: rgb(79, 77, 77);
}
.footerSecondColumn p, .footerThirdColumn p{
    font-weight: bold;
}
.footerLastText {
    text-align: center;
    font-size: 12px;
    color: #666765;
}
.footerThirdColumn{
    padding: 0 50px 0 80px;
}
.footerLastColumn{
    display: flex;
}
/* fotter section end */
@media screen and (max-width: 768px) {
    #foodItems {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin: 0 7%;
    }
    #foodItems .item img{
        width: 70px;
        height: 80px;
    }
    .item {
        width: 100%;
    }
    .foodsContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 4%;
    }
    .foods{
        width: 100%;
        /* border: 1px solid black; */
        border-radius: 10px;
        background-color: #e4e7f5;
        padding: 8px;
        cursor: pointer;
    }
   
}