@media screen and (max-width: 768px) {
        #header {
            padding: 10px 20px;
            /* display: block; */
        }
        .logo{
            font-size: 20px;
        }
        #navBar .ul {
            display: none;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            top: 100%;
            right: 2%;
            width: 180px;
            background: #bfc2cb;
            border-radius: 5px;
        }
        #navBar .ul .li {
            padding: 10px 20px;
            margin-top: 10px;
            width: 100%;
        }
        #hero {
            flex-direction: column;
            height: auto;
            padding: 20px;
        }
        #hero .heroImg{
            width: 80%;
        }
        #foodItems {
            flex-direction: column;
            align-items: center;
        }
        .item {
            width: 80%;
            margin-bottom: 20px;
        }
        .foodsContainer {
            grid-template-columns: 1fr;
            padding: 0 20px;
        }
        #newsLetter {
            flex-direction: column;
            text-align: center;
            padding: 20px;
        }
        .rightInput input {
            width: 100%;
            margin-bottom: 10px;
        }
        .rightInput button {
            width: 100%;
        }
        .footerLinks {
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }
        .footerFirstColumn, .footerSecondColumn, .footerThirdColumn {
            margin-bottom: 20px;
        }
        #loginAndRegister {
            padding: 20px 0;
        }
        #loginAndRegister form {
            width: 90%;
        }
}
