@media screen and (max-width: 768px) {
        #header {
            padding: 10px 20px;
            /* display: block; */
        }
        .logo{
            font-size: 20px;
        }
        #navBar .ul {
            display: none;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            top: 100%;
            right: 2%;
            width: 180px;
            background: #bfc2cb;
            border-radius: 5px;
        }
        #navBar .ul .li {
            padding: 10px 20px;
            margin-top: 10px;
            width: 100%;
        }
    }