/* singleFood Start  */
#singleFood{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px 100px 0px 80px;
}
#singleFood .singleFoodImg{
    padding: 10px;
    background: #E3E6F3;
    border-radius: 10px;
}
#singleFood .singleFoodImg img{
    width: 300px;
    border-radius: 10px;
}
.singleFoodDetails{
    width: 50%;
}
.singleFoodDetails input{
    cursor: pointer;
    width: 60px;
}
.singleFoodDetails button{
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
    background-color: rgb(170, 243, 193);
}
.thisFoodDetails{
    font-size: 14px;
}
/* singleFood end  */

/* responsive design for singleFood.css */
@media screen and (max-width: 768px) {
    #singleFood{
        display: block;
        padding: 5%;
    }
    #singleFood .singleFoodImg{
        padding: 10px;
        margin: 0 70px;
    }
    #singleFood .singleFoodImg img{
        width: 100%;
    }
    .singleFoodDetails {
        margin-top: 20px;
        width: 100%;

    }
}