*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 1;
}
.logo{
    font-size: 28px;
    font-weight: bold;
}
.logo a{
    text-decoration: none;
    color: black;
}
#navBar ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navBar ul li{
    list-style: none;
    padding: 10px 20px;
    margin-top: 18px;   
}
#navBar ul li a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    transition: 0.3s ease;
}
#navBar li a:hover{
    color: green;
    /* border-bottom: 2px solid green; */
}